<a>
	<img class="avatars" src="images/<%= firstName %>-avatar.png">
	<span class="list-item" id="<%= employeeId %>"><%= firstName %> <%= lastName %></span>
	<span class="titles"><%= title %></span>
</a>


