<a>
	<span class="list-item"><%= name %></span>
</a>
<select>
	<% for(var i=1; i< 8; i++) {%>
	   <% if (i == time) {%>
	   		<option value="<%= i %>" selected><%= i %></option>
	   <% } else {%>
	   		<option value="<%= i %>"><%= i %></option>
		<% } %>
		<% } %>
</select>
<a class="delete-job" data-job-name="<%= name %>"><span>x</span>

